<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="send_stock_root" name="寄倉" sequence="7"/>
        <menuitem id="send_stock_categ" name="寄倉功能" parent="send_stock_root"/>
        <menuitem id="send_stock_menu"
                  name="寄倉明細"
                  parent="send_stock_categ"
                  action="send_stock_main_action"
                  sequence="2"/>
        <menuitem id="send_stock_sale_menu3"
                  action="send_stock_order_action3"
                  name="寄倉出庫單"
                  parent="send_stock_categ"
                  sequence="2"/>
    </data>
</odoo>