<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="sign_check_root" name="簽口" sequence="7"/>
        <menuitem id="sign_check_categ" name="簽口功能" parent="sign_check_root"/>
        <menuitem id="sign_check_menu"
                  name="簽口明細"
                  parent="sign_check_categ"
                  action="sign_mian_action_view"/>
        <menuitem id="sign_invoice_menu"
                  name="簽口結帳"
                  parent="sign_check_categ"
                  action="sign_invoice_action_view"/>
        <menuitem id="sign_invoice_batch_menu"
                  name="簽口批次結帳"
                  parent="sign_check_categ"
                  action="sign_batch_action_view"/>
        <menuitem id="sign_transfer_menu"
                  name="簽口轉帳"
                  parent="sign_check_categ"
                  action="sign_transfer_view_action"/>
    </data>
</odoo>